@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/OpenSans-Regular.woff2) format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/OpenSans-SemiBold.woff2) format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/OpenSans-Bold.woff2) format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Playfair Display';
  src: url(../fonts/PlayfairDisplay-Bold.woff2) format('woff2');
  font-weight: 900;
}