@media(max-width: 1280px) {
    .filter {
        display: none;
    }

    .catalog__title {
        margin-bottom: 15px;
    }

    .catalog-form {
        display: block;

        &__title {
            margin-right: 11px;
            margin-bottom: 15px;
            font-weight: 400;
            font-size: 14px;
            line-height: 130%;
            color: #333333;
        }

        & label {
            margin-bottom: 27px;
            display: flex;
            justify-content: space-between;
            gap: 32px;


            & option {
                padding: 0;
            }
        }

        & select {
            padding: 9px 12px;
            width: 187px;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #333333;
            border: none;
            outline: none;
            background-color: #F6F6F6;
            border-radius: 10px;
            // appearance: none;
        }

    }

    .catalog-content {
        grid-template-columns: repeat(3, 1fr);
    }


}


@media(max-width: 952px) {
    .catalog-form {
        display: block;

        &__title {
            margin-bottom: 0;
            grid-column: span 2;
        }

        & label {
            margin-bottom: 27px;
            display: grid;
            grid-template-columns: repeat(2, 187px);
            justify-content: start;
            row-gap: 16px;
            column-gap: 32px;
        }
    }
}

@media(max-width: 624px) {
    .catalog-nav {
        display: none;
    }

    .catalog-form {
        &__title {
            margin-top: 0;
            margin-bottom: 0;
        }

        & label {
            grid-template-columns: repeat(2, 140px);
            gap: 16px;
        }

        & select {
            width: 100%;
        }
    }
}